<footer>
    <div class="p-20 flex flex-col items-center justify-center text-center sm:text-left">
        <img class="my-1" src="/logo.png" alt="">
        <div class="flex flex-wrap justify-center xl:justify-between">
            <div class="m-8">
                <h1 class="my-2 text-xl font-semibold">Contact</h1>
                <p class="text-base font-medium text-gray-500"><span class="font-bold text-black">Address:</span> <%= footer.contact_div.address %></p>
                <p class="text-base font-medium text-gray-500"><span class="font-bold text-black">Phone:</span> <%= footer.contact_div.phone %></p>
                <p class="text-base font-medium text-gray-500"><span class="font-bold text-black">Time:</span> <%= footer.contact_div.time %></p>
                <h2 class="text-xl font-bold my-2">Follow Us</h2>
                <div>
                    <i class="text-bold fa-brands fa-facebook-f"></i>   
                    <i class="text-bold fa-brands fa-instagram"></i>
                    <i class="text-bold fa-brands fa-twitter"></i>
                    <i class="text-bold fa-brands fa-youtube"></i>
                </div>
            </div>
            <div class="m-8">
                <h1 class="my-1 text-xl font-semibold">About</h1>
                <p class="text-base font-medium text-gray-500">About Us</p>
                <p class="text-base font-medium text-gray-500">Delivery Information</p>
                <p class="text-base font-medium text-gray-500">Privacy Policy</p>
                <p class="text-base font-medium text-gray-500">Terms and Conditions</p>
                <p class="text-base font-medium text-gray-500">Contact Us</p>
            </div>
            <div class="m-8">
                <h1 class="my-1 text-xl font-semibold">My Account</h1>
                <p class="text-base font-medium text-gray-500">Sign in</p>
                <p class="text-base font-medium text-gray-500">My Wishlist</p>
                <p class="text-base font-medium text-gray-500">View Cart</p>
                <p class="text-base font-medium text-gray-500">Track My Order</p>
                <p class="text-base font-medium text-gray-500">Help</p>
            </div>
            <div class="m-8">
                <h1 class="my-1 text-xl font-semibold">Install App</h1>
                <p class="text-base font-medium text-gray-500">From App Store or Google Play</p>
                <img class="hover:border" src="/pay/app.jpg" alt="">
                <img class="hover:border" src="/pay/play.jpg" alt="">
                <p class="text-base font-medium text-gray-500">Secured Payement Gateways</p>
                <img class="hover:border" src="/pay/pay.png" alt="">
            </div>
        </div>
    </div>
    

</footer>

</body>
<script src="/index.js"></script>
</html>