<section id="sign-up">
    <div class="flex flex-col items-center justify-center sm:flex-row text-center bg-gradient-to-r from-[rgb(10,20,20)] via-[#092583] to-[#3aa8a3be]  h-[300px] sm:h-[200px] lg:h-[150px] w-[100%] ">
        <div class="sm:w-[50%] text-white font-semibold m-3">
            <h1 class="mb-3 text-2xl">Sign Up For Newsletters</h1>
            <p class="text-lg">Get email updates about our latest shop and <span class="text-green-500">special offers</span></p>
        </div>
        <div class="sm:w-[30%] sm:m-5 flex flex-col items-center">
            <form action="/ecommerce/home" method="post">
                <input class="text-center font-semibold py-[6px] px-[10px] m-2 w-[100%] rounded-md sm:rounded-l-md outline-none" type="email" name="email" id="" placeholder="Enter your email address">
                <button class="bg-green-600 hover:bg-green-900 text-white font-semibold p-[6px] px-3 rounded-md sm:rounded-r-md">Sign Up</button>
            </form>
        </div>
    </div>
</section>
