<%- include('./partials/header.ejs')%>

<title>About</title>

<%- include('./partials/navbar.ejs')%>

<section id="hero" class="">
    <!-- <div  class="h-[50vh] bg-cover bg-[url('/banner/b21.png')] bg-shadow-lg"> -->
    <div class="h-[50vh] border border-black bg-shadow-lg">
        <div class="h-full text-center flex flex-col justify-center">
            <h1 class="text-4xl m-4 sm:text-6xl text-orange- text-white">#KnowUs</h1>
            <span class="text-sm text-slate-200">save more with coupons & upto 60% off</span>
        </div>
    </div>
</section>

<section>
    <div class="p-[100px] flex justify-between">
        <div class="pl-[50px] w-[100%]">
            <img class="w-[100%] h-[350px]" src="/about/a6.jpg" alt="">
        </div>
        <div class="pr-[50px] w-[100%]">
            <h1 class="text-4xl font-semibold">Who we are?</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing eliEum esse laudantium,  earum ducimus quia necessitatibipsum dolor ad atinciduneaque velit officia nisi cuquam distinctio nesciunt rem iure!
                Voluptatem reprehenderit porro inventore distinctio perspiciatis nemo 
                Magni repellendus asperiores hic mollitia quisquam consequatur. Necessitatibus a nihil assumenda molestias. Aperiam accusamus, porro dicta voluptatibus fugiat possimus sapiente modi maxime asperiores quas! Ab, eaque. Omnis perferendis aut quod!
            </p>
            <abbr title="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, odio!</abbr>

            <br><br>

            <marquee class="bg-[#ccc]" loop="-1" scrollamounts="5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima necessitatibus inventore veniam explicabo quaerat, quasi minus? Fuga, culpa?</marquee>
        </div>
    </div>
</section>

<%- include('./partials/signup.ejs')%>

<%- include('./partials/footer.ejs')%>