<%- include('./partials/header.ejs')%>

<title>Document</title>

<%- include('./partials/navbar.ejs')%>

    <section id="hero" class="">
        <!-- flex items-center justify-start -->
        <div  class="h-[45vh] mb-5 bg-cover bg-[bottom_70%_right_30%] bg-[url('banner/b19.jpg')] bg-shadow-lg">
            <div class="h-full text-center flex flex-col justify-center">
                <h1 class="text-4xl m-4 sm:text-5xl font-bold text-orange- text-white">#readmore</h1>
                <span class="text-sm md:text-b font-medium text-slate-200">read all case studies about our products</span>
            </div>
        </div>
    </section>

    <section id="blogs">
        <div class="flex flex-col vsm:flex-row items-center  p-[50px] md:px-[75px] lg:px-[150px] relative">
            <div class="w-[100%] vsm:w-[50%] mx-[40px]">
                <img class="h-[300px] w-[100%] object-cover" src="/blog/b1.jpg" alt="">
            </div>
            <div class="w-[100%] vsm:w-[50%]">
                <h3 class="text-xl font-medium my-3">The cotton Jetsy Zip-Up Hoodie</h3>
                <p class="text-base font-semibold text-gray-600">kickstarter man braid godard coloring book. Raclette waistcoat selfies yr wolf charteruse hexagon irony. godard</p>
                <h6  class="my-5 font-medium">Continue Reading ---</h6>
            </div>
            <div class="absolute top-[7px] -z-10 text-6xl text-gray-400 font-bold">
                <h1>13/01</h1>
            </div>
        </div>
        <div class="flex flex-col vsm:flex-row items-center p-[50px] md:px-[75px] lg:px-[150px] relative">
            <div class="w-[100%] vsm:w-[50%] mx-[40px]">
                <img class="h-[300px] w-[100%] object-cover" src="/blog/b2.jpg" alt="">
            </div>
            <div class="w-[100%] vsm:w-[50%]">
                <h3 class="text-xl font-medium my-3">Must have a stacker girl Items</h3>
                <p class="text-base font-semibold text-gray-600">kickstarter man braid godard coloring book. Raclette waistcoat selfies yr wolf charteruse hexagon irony. godard</p>
                <h6  class="my-5 font-medium">Continue Reading ---</h6>
            </div>
            <div class="absolute top-[7px] -z-10  text-6xl text-gray-400 font-bold">
                <h1>13/01</h1>
            </div>
        </div>
        <div class="flex flex-col vsm:flex-row items-center p-[50px] md:px-[75px] lg:px-[150px] relative">
            <div class="w-[100%] vsm:w-[50%] mx-[40px]">
                <img class="h-[300px] w-[100%] object-cover" src="/blog/b3.jpg" alt="">
            </div>
            <div class="w-[100%] vsm:w-[50%]">
                <h3 class="text-xl font-medium my-3">Runway inspired trends</h3>
                <p class="text-base font-semibold text-gray-600">kickstarter man braid godard coloring book. Raclette waistcoat selfies yr wolf charteruse hexagon irony. godard</p>
                <h6  class="my-5 font-medium">Continue Reading ---</h6>
            </div>
            <div class="absolute top-[7px] -z-10 text-6xl text-gray-400 font-bold">
                <h1>13/01</h1>
            </div>
        </div>
        <div class="flex flex-col vsm:flex-row items-center p-[50px] md:px-[75px] lg:px-[150px] relative">
            <div class="w-[100%] vsm:w-[50%] mx-[40px]">
                <img class="h-[300px] w-[100%] object-cover" src="/blog/b4.jpg" alt="">
            </div>
            <div class="w-[100%] vsm:w-[50%]">
                <h3 class="text-xl font-medium my-3">AW20 Mens wear Trends</h3>
                <p class="text-base font-semibold text-gray-600">kickstarter man braid godard coloring book. Raclette waistcoat selfies yr wolf charteruse hexagon irony. godard</p>
                <h6  class="my-5 font-medium">Continue Reading ---</h6>
            </div>
            <div class="absolute top-[7px] -z-10 text-6xl text-gray-400 font-bold">
                <h1>13/01</h1>
            </div>
        </div>
        <div class="flex flex-col vsm:flex-row items-center p-[50px] md:px-[75px] lg:px-[150px] relative">
            <div class="w-[100%] vsm:w-[50%] mx-[40px]">
                <img class="h-[300px] w-[100%] object-cover" src="/blog/b5.jpg" alt="">
            </div>
            <div class="w-[100%] vsm:w-[50%]">
                <h3 class="text-xl font-medium my-3">The cotton Jetsy Zip-Up Hoodie</h3>
                <p class="text-base font-semibold text-gray-600">kickstarter man braid godard coloring book. Raclette waistcoat selfies yr wolf charteruse hexagon irony. godard</p>
                <h6  class="my-5 font-medium">Continue Reading ---</h6>
            </div>
            <div class="absolute top-[7px] -z-10 text-6xl text-gray-400 font-bold">
                <h1>13/01</h1>
            </div>
        </div>
        <div class="flex flex-col vsm:flex-row items-center p-[50px] md:px-[75px] lg:px-[150px] relative">
            <div class="w-[100%] vsm:w-[50%] mx-[40px]">
                <img class="h-[300px] w-[100%] object-cover" src="/blog/b6.jpg" alt="">
            </div>
            <div class="w-[100%] vsm:w-[50%]">
                <h3 class="text-xl font-medium my-3">The cotton Jetsy Zip-Up Hoodie</h3>
                <p class="text-base font-semibold text-gray-600">kickstarter man braid godard coloring book. Raclette waistcoat selfies yr wolf charteruse hexagon irony. godard</p>
                <h6  class="my-5 font-medium">Continue Reading ---</h6>
            </div>
            <div class="absolute top-[7px] -z-10 text-6xl text-gray-400 font-bold">
                <h1>13/01</h1>
            </div>
        </div>
        <div class="flex flex-col vsm:flex-row items-center p-[50px] md:px-[75px] lg:px-[150px] relative">
            <div class="w-[100%] vsm:w-[50%] mx-[40px]">
                <img class="h-[300px] w-[100%] object-cover" src="/blog/b7.jpg" alt="">
            </div>
            <div class="w-[100%] vsm:w-[50%]">
                <h3 class="text-xl font-medium my-3">The cotton Jetsy Zip-Up Hoodie</h3>
                <p class="text-base font-semibold text-gray-600">kickstarter man braid godard coloring book. Raclette waistcoat selfies yr wolf charteruse hexagon irony. godard</p>
                <h6  class="my-5 font-medium">Continue Reading ---</h6>
            </div>
            <div class="absolute top-[7px] -z-10 text-6xl text-gray-400 font-bold">
                <h1>13/01</h1>
            </div>
        </div>
      
    </section>

<%- include('./partials/signup.ejs')%>

<%- include('./partials/footer.ejs')%>