<%- include('./partials/header.ejs')%>

<title>Shop</title>

<%- include('./partials/navbar.ejs')%>

    <section id="hero" class="">
        <!-- flex items-center justify-start -->
        <div  class="h-[50vh] bg-cover bg-[url('/banner/b2.jpg')] bg-shadow-lg">
            <div class="h-full text-center flex flex-col justify-center">
                <h1 class="text-4xl m-4 sm:text-6xl text-orange- text-white">#stayhome</h1>
                <span class="text-sm text-slate-200">save more with coupons & upto 60% off</span>
            </div>
        </div>
    </section>

    <section id="poducts">
            <div class="my-5 sm:my-24 text-white"  style="display:flex; flex-wrap: wrap; align-items:center; justify-content:space-around;">
                <div class="rounded-xl border-2 bg-slate-900 shadow-xl shadow-gray-400 my-2 sm:m-5 p-3 hover:p-1 text-left max-w-[159px] max-h-[300px] lg:max-w-[250px] lg:max-h-[450px] cursor-pointer" onclick="window.location.href='sproduct';">  <!--style="word-wrap:break-word;" -->
                    <img class="rounded-2xl" src="/products/f1.jpg" alt="">
                    <div class="m-2">
                        <h1 class="font-extra-light text-gray-400 text-sm">adidas</h1>
                        <h2 class="text-sm sm:max-text-xl font-bold sm:font-bold">Cartoon Astraunout T-Shirts</h2>
                        <div class="text-yellow-500 text-sm">
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                        </div>
                        <h2 class="font-bold">$78</h2>
                    </div>
                </div>
                <div class="rounded-xl border-2 bg-slate-900 shadow-xl shadow-gray-400 my-2 sm:m-5 p-3 hover:p-1 text-left max-w-[159px] max-h-[300px] lg:max-w-[250px] lg:max-h-[450px]">  <!--style="word-wrap:break-word;" -->
                    <img class="rounded-2xl" src="/products/f2.jpg" alt="">
                    <div class="m-2">
                        <h1 class="font-extra-light text-gray-400 text-sm">adidas</h1>
                        <h2 class="text-sm sm:max-text-xl font-bold sm:font-bold">Cartoon Astraunout T-Shirts</h2>
                        <div class="text-yellow-500 text-sm">
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                        </div>
                        <h2 class="font-bold">$78</h2>
                    </div>
                </div>
                <div class="rounded-xl border-2 bg-slate-900 shadow-xl shadow-gray-400 my-2 sm:m-5 p-3 hover:p-1 text-left max-w-[159px] max-h-[300px] lg:max-w-[250px] lg:max-h-[450px]">  <!--style="word-wrap:break-word;" -->
                    <img class="rounded-2xl" src="/products/f3.jpg" alt="">
                    <div class="m-2">
                        <h1 class="font-extra-light text-gray-400 text-sm">adidas</h1>
                        <h2 class="text-sm sm:max-text-xl font-bold sm:font-bold">Cartoon Astraunout T-Shirts</h2>
                        <div class="text-yellow-500 text-sm">
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                        </div>
                        <h2 class="font-bold">$78</h2>
                    </div>
                </div>
                <div class="rounded-xl border-2 bg-slate-900 shadow-xl shadow-gray-400 my-2 sm:m-5 p-3 hover:p-1 text-left max-w-[159px] max-h-[300px] lg:max-w-[250px] lg:max-h-[450px]">  <!--style="word-wrap:break-word;" -->
                    <img class="rounded-2xl" src="/products/f4.jpg" alt="">
                    <div class="m-2">
                        <h1 class="font-extra-light text-gray-400 text-sm">adidas</h1>
                        <h2 class="text-sm sm:max-text-xl font-bold sm:font-bold">Cartoon Astraunout T-Shirts</h2>
                        <div class="text-yellow-500 text-sm">
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                        </div>
                        <h2 class="font-bold">$78</h2>
                    </div>
                </div>
                <div class="rounded-xl border-2 bg-slate-900 shadow-xl shadow-gray-400 my-2 sm:m-5 p-3 hover:p-1 text-left max-w-[159px] max-h-[300px] lg:max-w-[250px] lg:max-h-[450px]">  <!--style="word-wrap:break-word;" -->
                    <img class="rounded-2xl" src="/products/f5.jpg" alt="">
                    <div class="m-2">
                        <h1 class="font-extra-light text-gray-400 text-sm">adidas</h1>
                        <h2 class="text-sm sm:max-text-xl font-bold sm:font-bold">Cartoon Astraunout T-Shirts</h2>
                        <div class="text-yellow-500 text-sm">
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                        </div>
                        <h2 class="font-bold">$78</h2>
                    </div>
                </div>
                <div class="rounded-xl border-2 bg-slate-900 shadow-xl shadow-gray-400 my-2 sm:m-5 p-3 hover:p-1 text-left max-w-[159px] max-h-[300px] lg:max-w-[250px] lg:max-h-[450px]">  <!--style="word-wrap:break-word;" -->
                    <img class="rounded-2xl" src="/products/f6.jpg" alt="">
                    <div class="m-2">
                        <h1 class="font-extra-light text-gray-400 text-sm">adidas</h1>
                        <h2 class="text-sm sm:max-text-xl font-bold sm:font-bold">Cartoon Astraunout T-Shirts</h2>
                        <div class="text-yellow-500 text-sm">
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                        </div>
                        <h2 class="font-bold">$78</h2>
                    </div>
                </div>
                <div class="rounded-xl border-2 bg-slate-900 shadow-xl shadow-gray-400 my-2 sm:m-5 p-3 hover:p-1 text-left max-w-[159px] max-h-[300px] lg:max-w-[250px] lg:max-h-[450px]">  <!--style="word-wrap:break-word;" -->
                    <img class="rounded-2xl" src="/products/f7.jpg" alt="">
                    <div class="m-2">
                        <h1 class="font-extra-light text-gray-400 text-sm">adidas</h1>
                        <h2 class="text-sm sm:max-text-xl font-bold sm:font-bold">Cartoon Astraunout T-Shirts</h2>
                        <div class="text-yellow-500 text-sm">
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                        </div>
                        <h2 class="font-bold">$78</h2>
                    </div>
                </div>
                <div class="rounded-xl border-2 bg-slate-900 shadow-xl shadow-gray-400 my-2 sm:m-5 p-3 hover:p-1 text-left max-w-[159px] max-h-[300px] lg:max-w-[250px] lg:max-h-[450px]">  <!--style="word-wrap:break-word;" -->
                    <img class="rounded-2xl" src="/products/f8.jpg" alt="">
                    <div class="m-2">
                        <h1 class="font-extra-light text-gray-400 text-sm">adidas</h1>
                        <h2 class="text-sm sm:max-text-xl font-bold sm:font-bold">Cartoon Astraunout T-Shirts</h2>
                        <div class="text-yellow-500 text-sm">
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                        </div>
                        <h2 class="font-bold">$78</h2>
                    </div>
                </div>
                <div class="rounded-xl border-2 bg-slate-900 shadow-xl shadow-gray-400 my-2 sm:m-5 p-3 hover:p-1 text-left max-w-[159px] max-h-[300px] lg:max-w-[250px] lg:max-h-[450px]">  <!--style="word-wrap:break-word;" -->
                    <img class="rounded-2xl" src="/products/n1.jpg" alt="">
                    <div class="m-2">
                        <h1 class="font-extra-light text-gray-400 text-sm">adidas</h1>
                        <h2 class="text-sm sm:max-text-xl font-bold sm:font-bold">Cartoon Astraunout T-Shirts</h2>
                        <div class="text-yellow-500 text-sm">
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                        </div>
                        <h2 class="font-bold">$78</h2>
                    </div>
                </div>
                <div class="rounded-xl border-2 bg-slate-900 shadow-xl shadow-gray-400 my-2 sm:m-5 p-3 hover:p-1 text-left max-w-[159px] max-h-[300px] lg:max-w-[250px] lg:max-h-[450px]">  <!--style="word-wrap:break-word;" -->
                    <img class="rounded-2xl" src="/products/n2.jpg" alt="">
                    <div class="m-2">
                        <h1 class="font-extra-light text-gray-400 text-sm">adidas</h1>
                        <h2 class="text-sm sm:max-text-xl font-bold sm:font-bold">Cartoon Astraunout T-Shirts</h2>
                        <div class="text-yellow-500 text-sm">
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                        </div>
                        <h2 class="font-bold">$78</h2>
                    </div>
                </div>
                <div class="rounded-xl border-2 bg-slate-900 shadow-xl shadow-gray-400 my-2 sm:m-5 p-3 hover:p-1 text-left max-w-[159px] max-h-[300px] lg:max-w-[250px] lg:max-h-[450px]">  <!--style="word-wrap:break-word;" -->
                    <img class="rounded-2xl" src="/products/n3.jpg" alt="">
                    <div class="m-2">
                        <h1 class="font-extra-light text-gray-400 text-sm">adidas</h1>
                        <h2 class="text-sm sm:max-text-xl font-bold sm:font-bold">Cartoon Astraunout T-Shirts</h2>
                        <div class="text-yellow-500 text-sm">
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                        </div>
                        <h2 class="font-bold">$78</h2>
                    </div>
                </div>
                <div class="rounded-xl border-2 bg-slate-900 shadow-xl shadow-gray-400 my-2 sm:m-5 p-3 hover:p-1 text-left max-w-[159px] max-h-[300px] lg:max-w-[250px] lg:max-h-[450px]">  <!--style="word-wrap:break-word;" -->
                    <img class="rounded-2xl" src="/products/n4.jpg" alt="">
                    <div class="m-2">
                        <h1 class="font-extra-light text-gray-400 text-sm">adidas</h1>
                        <h2 class="text-sm sm:max-text-xl font-bold sm:font-bold">Cartoon Astraunout T-Shirts</h2>
                        <div class="text-yellow-500 text-sm">
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                        </div>
                        <h2 class="font-bold">$78</h2>
                    </div>
                </div>
                <div class="rounded-xl border-2 bg-slate-900 shadow-xl shadow-gray-400 my-2 sm:m-5 p-3 hover:p-1 text-left max-w-[159px] max-h-[300px] lg:max-w-[250px] lg:max-h-[450px]">  <!--style="word-wrap:break-word;" -->
                    <img class="rounded-2xl" src="/products/n5.jpg" alt="">
                    <div class="m-2">
                        <h1 class="font-extra-light text-gray-400 text-sm">adidas</h1>
                        <h2 class="text-sm sm:max-text-xl font-bold sm:font-bold">Cartoon Astraunout T-Shirts</h2>
                        <div class="text-yellow-500 text-sm">
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                        </div>
                        <h2 class="font-bold">$78</h2>
                    </div>
                </div>
                <div class="rounded-xl border-2 bg-slate-900 shadow-xl shadow-gray-400 my-2 sm:m-5 p-3 hover:p-1 text-left max-w-[159px] max-h-[300px] lg:max-w-[250px] lg:max-h-[450px]">  <!--style="word-wrap:break-word;" -->
                    <img class="rounded-2xl" src="/products/n6.jpg" alt="">
                    <div class="m-2">
                        <h1 class="font-extra-light text-gray-400 text-sm">adidas</h1>
                        <h2 class="text-sm sm:max-text-xl font-bold sm:font-bold">Cartoon Astraunout T-Shirts</h2>
                        <div class="text-yellow-500 text-sm">
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                        </div>
                        <h2 class="font-bold">$78</h2>
                    </div>
                </div>
                <div class="rounded-xl border-2 bg-slate-900 shadow-xl shadow-gray-400 my-2 sm:m-5 p-3 hover:p-1 text-left max-w-[159px] max-h-[300px] lg:max-w-[250px] lg:max-h-[450px]">  <!--style="word-wrap:break-word;" -->
                    <img class="rounded-2xl" src="/products/n7.jpg" alt="">
                    <div class="m-2">
                        <h1 class="font-extra-light text-gray-400 text-sm">adidas</h1>
                        <h2 class="text-sm sm:max-text-xl font-bold sm:font-bold">Cartoon Astraunout T-Shirts</h2>
                        <div class="text-yellow-500 text-sm">
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                        </div>
                        <h2 class="font-bold">$78</h2>
                    </div>
                </div>
                <div class="rounded-xl border-2 bg-slate-900 shadow-xl shadow-gray-400 my-2 sm:m-5 p-3 hover:p-1 text-left max-w-[159px] max-h-[300px] lg:max-w-[250px] lg:max-h-[450px]">  <!--style="word-wrap:break-word;" -->
                    <img class="rounded-2xl" src="/products/n8.jpg" alt="">
                    <div class="m-2">
                        <h1 class="font-extra-light text-gray-400 text-sm">adidas</h1>
                        <h2 class="text-sm sm:max-text-xl font-bold sm:font-bold">Cartoon Astraunout T-Shirts</h2>
                        <div class="text-yellow-500 text-sm">
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                        </div>
                        <h2 class="font-bold">$78</h2>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="my-10 flex justify-center text-base sm:text-lg text-white font-bold">
            <a class="rounded-full px-3 py-2 mx-1 bg-green-700 text-gray-900" href="">1</a>
            <a class="rounded-full px-3 py-2 mx-1 bg-green-700" href="">2</a>
            <a class="rounded-full px-3 py-2 mx-1 bg-green-700" href="">></a>
        </div>
    </section>

<%- include('./partials/signup.ejs')%>

<%- include('./partials/footer.ejs')%>